html {
  line-height: 1.6;
  margin: 1rem;
  max-width: 40rem;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

cite {
  display: inline-block;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0 1rem;
}

.twoColumns {
  column-gap: 3rem;
  columns: 2;
}

.twoColumns li {
  break-inside: avoid-column;
}

h2 {
  margin-top: 5rem;
}
